@font-face {
    font-family: 'peignot';
    src: url('font/peignot-webfont.woff2') format('woff2'),
        url('font/peignot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

/***** FÆLLES MENU *****/
nav {
    font-family: 'peignot';
    color: black;
    position: absolute;
    top: 0;
}

a {
    color: black;
    font-family: 'peignot';
    text-decoration: none;
    font-size: 1.5rem;
}

a:hover {
    color: lavender;
}

/*
:target {
    color: black;
}
*/

/*** BURGER-MENU ****/
.hidden {
    /*    display: none;*/
    transform: translateX(-110%)
}

#burgermenu {
    padding: 1vw;
}

#menuknap {
    font-size: 3rem;

}

li {
    list-style-type: none;

}

#menu {
    transition: transform 0.7s;
}

#desktopmenu {
    display: none;
}

/************* COVER BILLEDE/ANIMATION ****************/

.ipadcover {
    display: none;
    opacity: 0.6;
}

.iphonecover {
    opacity: 0.6;
}

    .overlay {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 178.25vw;
        background: #bbaad0;
        /*        background: #b1b1ea;*/
        /*    background: #8c76a8;*/
        opacity: 0.8;
        margin-bottom: 10vw;
    }

.iphonelogo {
    position: absolute;
    top: 30vw;
    left: 10vw;
    max-width: 80%;
}

.ipadlogo {
    display: none;
}

#logo {
    display: none;
}

.iphonepil {
    position: absolute;
    max-width: 25%;
    top: 160vw;
    left: 39vw;
    opacity: 0.4;
}

.ipadpil {
    display: none;
}

.desktoppil {
    display: none;
}

.pulse1 {
    animation-name: pulse1_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse1_kf {
    0% {
        transform: scale(0.90);

    }

    100% {
        transform: scale(1);
    }
}

/************* STREG ****************/

.streg {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 10vw;
}

.streg img {
    max-width: 70vw;
}

/*

.header {
    height: 250px;
    width: 100;
    line-height: 250px;
    background: #ffd769;
    text-align: center;
}
*/


#om img {
    max-width: 150px;
}

.om-overskrift {
    margin-top: 10vw;
    text-align: center;
}

.om-container {
    padding: 10px;
    margin: 0 10vw 0;

}

.grid-item {
    padding: 10px;
}

.grid-item:nth-child(2) {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4px;
}

.img-item:nth-child(1) {
    grid-column: 1;
    justify-content: center;
}

.grid-item:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
    justify-content: center;
}


#om {
    hyphens: manual;
}

#om p {
    line-height: 1.5;
}

h1 {
    font-family: 'peignot';
    font-weight: 300;
    font-size: 2em;
}

.retter {
    border: 1px black solid;
    margin: 1em;
}

.item-retter {
    padding: 10px;
}

.menu {
    text-align: center;
}

.valgt {
    background-color: #8c76a8;
    transition: ease-in 0.5s;
}

.transition {
    transition: ease-in 2s;

}

h2 {
    /*    text-align: center;*/
    color: #8c76a8;
    font-family: 'Helvetica';
    font-weight: 300;
}

button {
    padding: 8px 4px;
    margin-bottom: 5em;
    font-family: 'Helvetica';
    font-weight: 300;
    background-color: none;
    border: 1px solid black;
    cursor: pointer;
}

p {
    font-family: 'Helvetica';
    font-weight: 300;

}

h3 {
    font-family: 'Helvetica';
    font-weight: 600;

}

#popup {
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(140, 118, 168, 0.36);
    overflow: scroll;
    display: none;
}

#indhold {
    min-height: 50vh;
    background-color: white;
    width: 75vw;
    margin: 4rem auto;
}

.singleret {
    display: grid;
    grid-template-columns: 1fr;
}

#luk {
    position: fixed;
    right: 2rem;
    top: 0.5rem;
}

#luk button {
    font-size: 1rem;
    padding: 1rem 1rem;
    color: #8c76a8;
    cursor: pointer;
}

.singleret {
    padding: 1vw;
}

.singleret img {
    max-width: 70%;
}

.data-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 1em;
    margin: 0 10vw;
}


footer {
    font-family: 'Helvetica';
    font-weight: 200;
    font-size: 0.8rem;
    background-color: #8c76a8;
    height: 220px;
    color: white;
}

#footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1vw 2vw;
}

footer div {
    line-height: 2;
}

footer h1 {
    color: white;
    padding: 10px 0 0 20px;

}


/*********** GÅ TIL TOP KNAP  **************/


#myBtn {
    position: fixed;
    bottom: -30px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #8c76a8;
    color: white;
    cursor: pointer;
    padding: 1rem;
    border-radius: 3px;
    font-size: 0.8rem;
    font-family: 'Helvetica Neue';
    font-weight: 300;
    opacity: 0.8;
}

.myBtn {
    display: none;
}

#myBtn:hover {
    background-color: #bbaad0;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/******************** MEDIA QUERIES  **********************/


@media only screen and (min-width:600px) {
    .iphonecover {
        display: none;
    }

    .ipadcover {
        display: block;
    }

    .iphonelogo {
        display: none;
    }

    #logo {
        display: none;
    }

    .ipadlogo {
        display: block;
        position: absolute;
        top: 15vw;
        left: 20vw;
        max-width: 60%;
    }

    .overlay {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 133.25vw;
        background: #bbaad0;
        /*        background: #b1b1ea;*/
        /*    background: #8c76a8;*/
        opacity: 0.8;
        margin-bottom: 10vw;
    }

    .iphonepil {
        display: none;
    }

    .desktoppil {
        display: none;
    }

    .ipadpil {
        display: block;
        position: absolute;
        max-width: 25%;
        top: 115vw;
        left: 40vw;
        opacity: 0.4;
    }


    .om-container {
        display: grid;
    }

    .grid-item:nth-child(2) {
        align-items: center;
        display: block;
    }

    #om img {
        max-width: 100px;
    }

    .data-container {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 2em;
    }

    /*** DESKTOP MENU ****/


    #desktopmenu {
        display: block;
    }

    #burgermenu {
        display: none;
    }

    nav {
        left: 0;
        right: 0;
        text-align: center;
        margin: 1rem 0;
        position: absolute;
        font-size: 1.5rem;
    }

    nav a {
        padding: 0 1rem;
        font-size: 2rem;
    }

    button {
        padding: 8px 20px;
        margin-bottom: 5em;
        font-family: 'Helvetica';
        font-weight: 300;
        background-color: none;
        border: 1px solid black;
        cursor: pointer;
    }

    button:hover {
        background-color: #bbaad0;
    }


    .singleret {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .item-a {
        grid-row: 1;
    }

    .item-b {
        grid-row: 1;
    }

    footer {
        height: 250px;
    }

    .retter {
        display: grid;
        grid-template-columns: 1fr 1fr
    }

}

@media only screen and (min-width:1000px) {

    /************************ ANIMATION ***************************/

    .ipadcover {
        display: none;
    }

    .iphonecover {
        display: none;
    }

    .paris_kf {
        animation-name: paris_kf;
        animation-duration: 6s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: steps(18);
    }

    @keyframes paris_kf {
        0% {
            background-position: 0% 0%;
        }

        100% {
            background-position: -1800% 0%;
        }
    }

    .parissprite {
        position: absolute;
        top: -10vw;
        left: 0vw;
        background-size: 1900% 100%;
        width: 100vw;
        height: 56.25vw;
        background-image: url(billeder/parisspriteny.svg);
        opacity: 0.6;
    }

    .overlay {
        position: relative;
        width: 100vw;
        height: 48.25vw;
        background: #bbaad0;
        /*        background: #b1b1ea;*/
        /*    background: #8c76a8;*/
        opacity: 0.8;
        margin-bottom: 10vw;
    }

    #logo {
        display: block;
        position: absolute;
        top: 2vw;
        left: 25vw;
        max-width: 50%;
    }

    .iphonelogo {
        display: none;
    }

    .ipadlogo {
        display: none;
    }


    .streg img {
        max-width: 50vw;
    }

    .ipadpil {
        display: none;
    }

    .desktoppil {
        display: none;
        position: absolute;
        max-width: 10%;
        top: 43vw;
        left: 44vw;
        opacity: 0.1;
    }

    /************************ GRID ***************************/


    .grid-item:nth-child(2) {
        align-items: center;
        grid-column-gap: 20px;
        display: grid;
    }

    #om img {
        max-width: 150px;
    }


    .data-container {
        grid-template-columns: repeat(2, 1fr);
    }

    footer section {
        grid-template-columns: repeat(3, 1fr);
    }

    .retter {
        display: grid;
        grid-template-columns: 1fr 1fr
    }

}
